body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: aliceblue;
}
h1 {
    text-align: center;
}
.container {

    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 50%;

}
label {
    padding: 1rem 0 ;
}

#is-triangle-btn {
    max-width: 100px;
    margin: auto;
    margin-top: 1rem;

}

#output {
    margin: 1rem;
    text-align: center;
    font-size: larger;
}